/*all pages CSS*/

@font-face {
  font-family: 'GenshinFont';
  src: url(../Font/font.ttf);
}

body {
  background-image: url(../Images/Starry\ Sky.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  font-family: "GenshinFont", sans-serif;
  position: relative;
  margin: 0;
  width: 100%;
  color: #e6eef6;
}

nav {
  background-color: transparent;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  color: #e6eef6;
  width: 100%;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  font-size: 35px;
  display: inline-block;
  text-align: center;
  padding: 5px;
}

a:link {
  color: #e6eef6;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #e6eef6;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #2b70a7;
  background-color: transparent;
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  box-shadow: 0 -5px 4px rgba(0, 0, 0, 0.5);
  color: #e6eef6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h3 {
  text-align: left;
  flex-grow: 1;
  margin: 0;
  padding-left: 5px;
}

footer img {
  padding: 5px;
}

/*Homepage CSS*/

#index-article {
  float: left;
  width: 60%;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

#index-article h2 {
  padding-left: 15px;
}

#index-article p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 1px;
}

#index-aside {
  float: right;
  width: 40%;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

#index-aside img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  box-shadow: 0 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
}

#kazuha-gif {
  padding-top: 5px;
}

/*Characters page CSS*/

#characters-article {
  display: flex;
}

#character-intro {
  width: 60%;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

#character-intro h2 {
  padding-left: 15px;
}

#character-intro p {
  padding-left: 15px;
  padding-right: 15px;
}

#character-images {
  width: 40%;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

#character-images h2 {
  text-align: center;
}

#character-images p {
  padding-left: 15px;
  padding-right: 15px;
}

#character-cards {
  display: flex;
  justify-content: center;
}

#character-cards img {
  max-width: 100%;
  height: auto;
  padding: 5px;
  padding-top: 10px;
  border-radius: 30px;
  box-shadow: 0 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
  transition: transform 0.3s ease;
}

#character-cards img:hover {
  transform: scale(1.1);
}

#chongyun{
  max-width: 30%;
  padding: 5px;
  padding-top: 50px;
}

#xiao{
  max-width: 30%;
  padding: 5px;
  padding-top: 50px;
}

#kazuha{
  max-width: 30%;
  padding: 5px;
  padding-top: 50px;
}

#character-popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#character-popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0e193c;
  width: 300px;
  max-width: 90%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  border-radius: 30px;
}

#character-popup-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 30px;
}

#character-popup-container h2 {
  text-align: center;
}

#character-popup-container p {
  text-align: center;
}

/*Locations Page CSS*/

#locations-intro {
  text-align: center;
  padding-top: 15px;
}

#locations-intro h2{
  font-size: 50px;
}

#locations-images {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#locations-images section {
  text-align: center;
  flex-basis: 25%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding-top: 15px;
}

#locations-images img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

#locations-images img:hover {
  transform: scale(1.1);
}

#locations-images h3 {
  margin-top: 10px;
  color: #ceb689;
  font-size: 30px;
}

#location-popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#location-popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0e193c;
  width: 800px;
  max-width: 90%;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

#location-popup-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 30px;
  text-align: center;
}

#location-popup-container h2 {
  text-align: center;
}

#location-popup-container p {
  text-align: center;
}

/*Screenshot page CSS*/

.slideshow {
  position: relative;
  margin: auto;
  width: 1250px;
  padding: 40px;
}

.slideshow img {
  display: none;
  max-width: 100%;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slideshow img.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: translateY(-50%);
}

.prev {
  left: -15px;
}

.next {
  right: -16px;
}